/Capter5/Spittr/out
/Capter5/Spittr/target
/Capter6/tiles/Spittr/.idea/sonarlint/issuestore
/Capter6/Thymeleaf/Spittr/out
/Capter6/Spittr
/Capter5/Spittr/.idea/sonarlint
/Capter7/Spittr/out
/Capter7/Spittr/target
/Capter6/Thymeleaf/Spittr/.idea/.idea/sonarlint/issuestore
/Capter7/Spittr/.idea/.idea/sonarlint/issuestore
